* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffa500;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

button:hover {
    background-color: #e68b00;
}

#result-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.recipe-card {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-card ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    main form {
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
h1{
    color: Orange;
    background-color: Green;
}
